{% assign experience = site.data.data.experience %}
{% if experience %}
<section class="experiance">
    <h2 class="title">Experience</h2>
    {% for exp in experience %}
        <div class="experience-item">
            <div class="role">
                {{exp.role}}
            </div>
            <div class="company">
                {{exp.company}} 
                <span class="time">{{exp.time}}</span>
            </div> 
            <div class="details">{{exp.details}}</div>
            {% if exp.responsibilities %}
                <ul>
                {% for res in exp.responsibilities %}
                    <li class="responsibilities">{{res}}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
       
    {% endfor %}
</section>
{% endif %}